:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--light-gray);
    margin: 0;
    min-height: 100vh;
    display: flex;
}
.container {
    background-color: var(--white);
    border-radius: 15px;
    text-align: center;
    width: 320px;
    margin: auto;
    min-height: 500px;
    padding: 15px;
    box-shadow: 0px 1px 100px var(--grayish-blue);
}
.container  .img-card img {
    border-radius: 15px;
    width: 100%;
}
.info-card h1 {
    font-size: 24px;
    line-height: 28px;
    color: var(--dark-blue);
    padding: 0 9px;
    margin-bottom: 20px;
}
.info-card p {
    font-size: 15px;
    color: var(--grayish-blue);
    padding: 0 15px;
    letter-spacing: .6px;
    line-height: 1.5;
    margin-bottom: 30px;
}
